<form class="subscribe-form" action="{{ site.subscribeFormAction }}" method="POST">
  <input type="hidden" name="ml-submit" value="1">
  <input type="hidden" name="anticsrf" value="true">
  <label class="sr-only" for="subscribe-email">Email</label>
  <input class="subscribe-input" type="email" id="subscribe-email" name="fields[email]" placeholder="Your email" required autocomplete="email">
  <button type="submit" class="subscribe-submit">Subscribe &rarr;</button>
</form>
